Node-red flow MIO40 to LoRaWAN.txt
[{"id":"c16e2b38.df6348","type":"mqtt in","z":"79919d96.790bc4","name":"","topic":"dragino_rs485_lr/devices/87654321/up","qos":"2","datatype":"auto","broker":"a98487d3.37af88","x":310,"y":100,"wires":[["eb057dbd.b847d"]]},{"id":"eb057dbd.b847d","type":"function","z":"79919d96.790bc4","name":"payload","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_fields;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":180,"wires":[["735d80b2.fa28f","44873633.6aded8"]]},{"id":"735d80b2.fa28f","type":"debug","z":"79919d96.790bc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":249,"y":325,"wires":[]},{"id":"2e8d2b6e.7ca774","type":"debug","z":"79919d96.790bc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":418,"y":269,"wires":[]},{"id":"44873633.6aded8","type":"function","z":"79919d96.790bc4","name":"counter","func":"var a = msg.payload;\nmsg.payload=a.counter;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":180,"wires":[["2e8d2b6e.7ca774","e4be751d.83fc28"]]},{"id":"e4be751d.83fc28","type":"mqtt out","z":"79919d96.790bc4","name":"","topic":"/Nave1/tanque1/temperatura","qos":"","retain":"","broker":"f4baeaf3.dce358","x":590,"y":362,"wires":[]},{"id":"a98487d3.37af88","type":"mqtt-broker","z":"79919d96.790bc4","name":"eu.thethings.network","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f4baeaf3.dce358","type":"mqtt-broker","z":"79919d96.790bc4","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]